.container {
    display: flex;
    justify-content: center;
}

.container div {
    background: azure;
    align-items: center;
    border: 2px solid rgb(9, 3, 3);
    padding: 100px;
    margin: 100px;
    border-radius: 10px;

}